@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-duplet-open);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-daxline-pro);
  line-height: 1.25;
}

.swiper-button-prev,
.swiper-button-next {
  @apply text-black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply text-3xl font-bold !important;
}
