@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-duplet-open);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-daxline-pro);
  line-height: 1.25;
}

.swiper-button-prev,
.swiper-button-next {
  @apply text-black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply text-3xl font-bold !important;
}

.swiper-pagination-horizontal {
  @apply w-full flex justify-center gap-2 mt-10 !important;
}

.swiper-pagination-bullet {
  @apply w-3 h-3 bg-black/35 rounded-full !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-black !important;
}

.page-content p {
  @apply mb-4;
}

.page-content a {
  @apply text-brown hover:underline;
}

.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  @apply text-base leading-normal font-bold mt-8 mb-4;
}

.page-content h2 {
  @apply text-xl leading-normal;
}

.page-content h3 {
  @apply text-lg leading-normal;
}

.page-content ul {
  @apply list-inside list-disc pl-4 mb-4;
}

.page-content table {
  @apply w-full max-w-full border-collapse;
}

.page-content thead {
  @apply border border-black;
}

.page-content thead th {
  @apply py-2 px-4 text-left;
}

.page-content tbody {
  @apply border border-black;
}

.page-content tbody tr {
  @apply border-b border-black;
}

.page-content tbody td {
  @apply py-2 px-4 text-left;
}
